@import "tailwindcss";

@keyframes swingY {
  0% {
    transform: translateY(0px) scale(1);
  }

  60% {
    transform: translateY(-40px) scale(0.9);
  }

  0% {
    transform: translateY(0px) scale(1);
  }
}

@keyframes notfound {
  0% {
    transform: translateY(0px);
  }

  60% {
    transform: translateY(-10px);
  }

  0% {
    transform: translateY(0px);
  }
}

/* @keyframes beamDown {
  0% {
    transform: translateY(-100px) scale(0.5);
    opacity: 0;
  }
  50% {
    transform: translateY(0px) scale(1);
    opacity: 1;
  }
  70% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
} */
@keyframes beamUp {
 0% {
    transform: translateY(0px) scale(0.8);
  }

  60% {
    transform: translateY(-10px) scale(0.9);
  }

  0% {
    transform: translateY(0px) scale(1);
  }
}
.bemUpanimation {
  animation: beamUp 3s ease-in-out infinite;
  transform-style: preserve-3d;
}

/* .alien-animation {
  animation: beamDown 1.5s ease-out forwards;
  transform-origin: center;
} */


.notfound {
  animation: notfound 3s ease-in-out infinite;
  transform-style: preserve-3d;
}

.swing-y {
  animation: swingY 3s ease-in-out infinite;
  transform-style: preserve-3d;
}

@keyframes shimmer {
  0% {
    background-position: -500px 0;
  }

  100% {
    background-position: 500px 0;
  }
}

.shimmer {
  background: linear-gradient(90deg, #000 25%, gray 50%, #000 75%);
  background-size: 1000px 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: shimmer 3s infinite linear;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE và Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Áp dụng cho Chrome, Edge, Safari */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-button {
  height: 0;
  width: 0;
  display: none;
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #aaa transparent;
}

.input {
  @apply w-full px-4 py-2 mb-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-teal-400;
}

.btn {
  @apply bg-teal-500 text-white px-6 py-2 rounded-md hover:bg-teal-600 transition;
}
@keyframes bell-shake {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(15deg); }
  50% { transform: rotate(-15deg); }
  75% { transform: rotate(15deg); }
  100% { transform: rotate(0deg); }
}

.bell-shake {
  animation: bell-shake 0.5s ease-in-out ;
}